<!DOCTYPE html>
<html lang="en">
<%- include("header") %>
<body class="bg-[#181a1c]">
    <div class="flex justify-center mt-[5%]">
        <div class=" bg-[#2c3033] p-5 rounded-lg w-[15%]">
            <p class="text-2xl text-center mb-3 m-auto">Authorize</p>
            <button class="block p-1 bg-[#181a1c] mb-1 w-full rounded-md">JWT</button>
            <button class="block p-1 bg-[#181a1c] w-full rounded-md">Discord</button>
        </div>
    </div>
</body>
</html>