<!DOCTYPE html>
<html lang="en">
<%- include("header") %>
<body class="bg-[#1a1c1f]">
    <p>Check console</p>
</body>
<script>
    let token = "<%= token %>";
    if (token) {
        setCookie("token", token, 7)
    } else {
        token = getCookie("token");
    }
    console.log(token);
</script>
</html>