<!DOCTYPE html>
<html lang="en">
<%- include("header") %>
<body class="bg-[#1a1c1f]">
    <div class="flex justify-center mt-16">
        <div class="bg-[#151617] p-5 pt-6 rounded-2xl w-64 text-center">
            <p class="text-2xl mb-6 m-auto">Login</p>
            <%- additional_el %>
            <form action="/auth/jwt_login" method="POST">
                <label for="username" class="block text-left mb-1">Username</label>
                <input required name="username" id="username" class="block p-1 bg-[#26282b] mb-3 w-full rounded-md outline-none text-[#abaeb3] placeholder:text-[#616366]" placeholder="teletvbis_">
                <label for="password" class="block text-left mb-1">Password</label>
                <input required name="password" id="password" type="password" class="block p-1 bg-[#26282b] mb-4 w-full rounded-md outline-none text-[#abaeb3] placeholder:text-[#616366]">
                <button class="block p-1 bg-[#0066ff] w-full rounded-md mb-3" type="submit">Login</button>
                <a class="text-[#616366]" href="/auth/jwt_register">I want to register instead</a>
            </form>
        </div>
    </div>
</body>
</html>